@typeparam TItem
@typeparam ItemDetails
@typeparam ItemDetailsII
@typeparam ItemDetailsIII
@inherits TableAmeProDetailsIII<TItem, ItemDetails, ItemDetailsII, ItemDetailsIII>
@namespace AmeBlazor.Components

<Table TItem="TItem" @ref="@TableMain"
       AddModalTitle="@AddModalTitle"
       AutoRefreshInterval="@AutoRefreshInterval"
       AutoGenerateColumns="@AutoGenerateColumns"
       AllowResizing="@AllowResizing"
       AllowDragColumn="@AllowDragColumn"
       CollapsedTopSearch="@CollapsedTopSearch"
       DataService="@DataService"
       DoubleClickToEdit="@DoubleClickToEdit"
       EditMode="@EditMode"
       EditModalTitle="@EditModalTitle"
       EditDialogSaveButtonText="@EditDialogSaveButtonText"
       EditDialogCloseButtonText="@EditDialogCloseButtonText"
       EditFooterTemplate="@EditFooterTemplate"
       EditDialogIsDraggable="true"
       EditDialogItemsPerRow="EditDialogItemsPerRow"
       EditDialogRowType="EditDialogRowType"
       EditDialogLabelAlign="EditDialogLabelAlign"
       EditDialogSize="EditDialogSize"
       EditDialogShowMaximizeButton="EditDialogShowMaximizeButton"
       EditDialogFullScreenSize="EditDialogFullScreenSize"
       ScrollingDialogContent="ScrollingDialogContent"
       BeforeShowEditDialogCallback="BeforeShowEditDialogCallback!"
       ExportButtonIcon=@ExportButtonIcon
       EditTemplate="@EditTemplate"
       GetAdvancedSearchFilterCallback="@GetAdvancedSearchFilterCallback"
       HeaderStyle="@HeaderStyle"
       HeaderTextWrap="@HeaderTextWrap"
       Height="@Height"
       IsFixedFooter="@IsFixedFooter"
       IsAutoRefresh="@IsAutoRefresh"
       IsMultipleSelect="@IsMultipleSelect"
       IsStriped="@IsStriped"
       IsBordered="@IsBordered"
       IsPagination="@IsPagination"
       IsDetails="typeof(ItemDetails).Name != nameof(NullClass)"
       IsTracking="@IsTracking"
       IsExcel="@IsExcel"
       IsFixedHeader="@IsFixedHeader"
       IsExtendButtonsInRowHeader="@IsExtendButtonsInRowHeader"
       IsAutoQueryFirstRender="IsAutoQueryFirstRender"
       IsHideFooterWhenNoData="IsHideFooterWhenNoData"
       IsKeepSelectedRows="@IsKeepSelectedRows"
       IsAutoCollapsedToolbarButton="@IsAutoCollapsedToolbarButton"
       Items="@Items"
       OnAddAsync="@OnAddAsync"
       OnEditAsync="OnEditAsync"
       OnQueryAsync="@OnQueryAsync"
       OnSaveAsync="@OnSaveAsync"
       OnDeleteAsync="@OnDeleteAsync"
       OnExportAsync="ExportAsync"
       OnClickRowCallback="ClickRow"
       OnAfterDeleteAsync="@OnAfterDeleteAsync"
       OnAfterModifyAsync="@OnAfterModifyAsync"
       OnColumnCreating="@OnColumnCreating"
       OnDoubleClickRowCallback="OnDoubleClickRowCallback"
       PageItems="@PageItems"
       PageItemsSource="@PageItemsSource"
       PageInfoBodyTemplate="PageInfoBodyTemplate"
       RowHeight="RowHeight"
       RenderMode="RenderMode"
       ShowLineNo="@ShowLineNo"
       ShowSkeleton="@ShowSkeleton"
       ShowToolbar="@ShowToolbar"
       ShowAddButton="@(ShowAddButton &&!IsReadonly)"
       ShowEditButton="@(ShowEditButton &&!IsReadonly)"
       ShowDeleteButton="@(ShowDeleteButton &&!IsReadonly)"
       ShowExtendEditButton="@(ShowExtendEditButton &&!IsReadonly)"
       ShowExtendDeleteButton="@(ShowExtendDeleteButton &&!IsReadonly)"
       ShowDefaultButtons="@(ShowDefaultButtons &&!IsReadonly)"
       ShowExtendButtons="@(ShowExtendButtons &&!IsReadonly)"
       ShowExportButton=ShowExportButton
       ShowSearch="@(ShowSearch &&!IsSimpleUI)"
       SearchMode="@SearchMode"
       ShowSearchButton="@ShowAdvancedSearch"
       ShowAdvancedSearch="@(ShowAdvancedSearch &&!IsSimpleUI)"
       ShowResetButton="@ShowResetButton"
       ShowDetailRow="@ShowDetailRow"
       ShowFooter="@ShowFooter"
       ShowColumnList="@ShowColumnList"
       ShowRefresh="@(ShowRefresh &&!IsSimpleUI)"
       ShowCardView="@(ShowCardView &&!IsSimpleUI)"
       ShowFilterHeader="@ShowFilterHeader" 
       ScrollMode="ScrollMode"
       ScrollWidth="ScrollWidth"
       ShowMultiFilterHeader="ShowMultiFilterHeader"
       SelectedRows="SelectedRows"
       SelectedRowsChanged="SelectedRowsChanged"
       TableSize="@TableSize"
       TableExtensionToolbarBeforeTemplate="@TableExtensionToolbarBeforeTemplate"
       TableExtensionToolbarTemplate="@TableExtensionToolbarTemplate" 
       >
    <TableToolbarBeforeTemplate>
        @if (TableToolbarBeforeTemplate != null)
        {
            @TableToolbarBeforeTemplate
        }
        @if (ShowBatchAddButton)
        {
            <TableToolbarButton TItem="TItem" Color="Color.Success" OnClick="@OnBatchAddAsync" Icon="@AddButtonIcon" Text="@BatchAddButtonText" />
        }
    </TableToolbarBeforeTemplate>
    <TableToolbarTemplate>
        @if (TableToolbarTemplate != null)
        {
            @TableToolbarTemplate
        }
        @if (ShowDefaultButtons && ShowExcelModeButtons && !IsReadonly)
        {
            <TableToolbarButton TItem="TItem" Color="Color.Primary" Text="自由编辑" OnClick="@IsExcelToggle" />
        }
        @if (ShowScrollModeButtons && !IsSimpleUI)
        {
            <TableToolbarButton TItem="TItem" Color="Color.Primary" Text="@(scrollMode == ScrollMode.Virtual ?"长滚动":"分页")" OnClick="@ScrollModeToggle" />
        }
        @if (Excel导入 != null)
        {
            <TableToolbarButton TItem="TItem" Color="Color.Primary" Text="@Excel导入文本" IsAsync OnClick="@ImportExcel" />
        }
        @if (导入 != null)
        {
            <TableToolbarButton TItem="TItem" Color="Color.Primary" Text="@导入文本" IsAsync OnClick="@ImportItems" />
        }
        @if (导入II != null)
        {
            <TableToolbarButton TItem="TItem" Color="Color.Primary" Text="@导入II文本" IsAsync OnClick="@ImportItemsII" />
        }
        @if (执行添加 != null)
        {
            <TableToolbarButton TItem="TItem" Color="Color.Primary" Text="@执行添加文本" IsAsync OnClick="@执行添加Cmd" />
        }
        @if (ShowExportExcelButtons || 导出 != null)
        {
            <TableToolbarButton TItem="TItem" Color="Color.Success" Text="@导出文本" IsAsync OnClickCallback="@ExportExcelAsync" />
            if (ShowExportMoreButtons)
            {
                <TableToolbarButton TItem="TItem" Color="Color.Success" Text="PDF" IsAsync OnClickCallback="@ExportPDFAsync" />
                <TableToolbarButton TItem="TItem" Color="Color.Success" Text="Word" IsAsync OnClickCallback="@ExportWordAsync" />
                <TableToolbarButton TItem="TItem" Color="Color.Success" Text="Html" IsAsync OnClickCallback="@ExportHtmlAsync" />
            }
        }
        @if (ShowToolbarType == ShowToolbarType.打印)
        {
            <TableToolbarButton TItem="TItem" Color="Color.Success" Text="@打印文本" IsAsync OnClickCallback="@PrintPreview" />
        }
        @if (批量执行 != null)
        {
            <TableToolbarButton TItem="TItem" Color="Color.Secondary" Text="@批量按钮文字" IsAsync OnClickCallback="@批量执行" />
        }
        @if (升级 != null)
        {
            <TableToolbarButton TItem="TItem" Color="Color.Secondary" Text="@升级按钮文字" IsAsync OnClickCallback="@升级Cmd" />
        }
        @if (升级II != null)
        {
            <TableToolbarButton TItem="TItem" Color="Color.Secondary" Text="@升级按钮II文字" IsAsync OnClickCallback="@升级IICmd" />
        }
        @if (!string.IsNullOrEmpty(新窗口打开Url))
        {
            <TableToolbarButton TItem="TItem" Color="Color.Secondary" Text="@新窗口打开文字" IsAsync OnClick="@新窗口打开" />
        }
        @if (!string.IsNullOrEmpty(查找文本I))
        {
            <TableToolbarButton TItem="TItem" Color="Color.Secondary" Text="@查找文本I文字" IsAsync OnClick="@查找文本Icmd" />
        }
        @if (ShowFloatPanelToolbar)
        {
            <div class="d-none d-sm-inline-flex">
                <FloatPanel @ref="FloatPanelUp" CssClass="btn btn-light" Value="@cacheFooterValue" />
            </div>
        }
    </TableToolbarTemplate>

    <TableColumns>
        @if (TableColumns != null)
        {
            @TableColumns?.Invoke(new TItem())
        }
        @if (ShowDetailRowType == ShowDetailRowType.弹窗)
        {
            @RenderTableColumn(context)
        }
        else if (ShowDetailRowType == ShowDetailRowType.图片列)
        {
            @RenderTableColumnPhotoUrl(context)
        }
        @if (TableImgFields != null && TableImgFields.Any())
        {
            foreach (var item in TableImgFields)
            {
                @RenderTableImgColumn(context, item)
            }
        }
        @if (TableImgField != null)
        {
            @RenderTableImgColumn(context)
        }
        @if (TableFunctionsFields != null && TableFunctionsFields.Any())
        {
            foreach (var item in TableFunctionsFields)
            {
                @RenderTableFunctionsColumn(context, item)
            }
        }
        @if (TableColumnsTemplate != null)
        {
            @TableColumnsTemplate?.Invoke(new TItem())
        }
    </TableColumns>

    <RowButtonTemplate>
        @if (RowButtonTemplate != null)
        {
            @RowButtonTemplate(context)
        }

        @if (RowButtons != null && RowButtons.Any())
        {
            foreach (var item in RowButtons)
            {
                <TableCellButton Color=@item.Color
                                 Icon=@item.Icon
                                 Text="@item.Title"
                                 OnClick="(() => OnRowButtonClick(context,item))" />
            }
        }
    </RowButtonTemplate>

    <DetailRowTemplate>
        @if (DetailRowTemplate != null)
        {
            @DetailRowTemplate(context)
        }
        else if (ShowDetailRowType == ShowDetailRowType.选项卡)
        {
            <Tab IsLazyLoadTabItem="true">
                <TabItem Text="@DetailRowsName1">
                    @RenderTableDetails(context)
                </TabItem>
                <TabItem Text="@DetailRowsName2">
                    @RenderTableDetails(context, TableDetailRowType.选项卡2)
                </TabItem>
                @if (DetailRowsName3 != null)
                {
                    <TabItem Text="@DetailRowsName3">
                        @RenderTableDetails(context, TableDetailRowType.选项卡3)
                    </TabItem>
                }
            </Tab>
        }
        else
        {
            @RenderTableDetails(context)
        }
    </DetailRowTemplate>

    <TableFooter Context="context1">
        @if (FooterTemplate != null)
        {
            @FooterTemplate(TableMain.Rows)
        }
        @if (FooterContent != null)
        {
            @FooterContent
        }
        @if (string.IsNullOrEmpty(FooterTotalColName) && !ShowFloatPanel && !ShowFloatPanelToolbar && !string.IsNullOrEmpty(FooterText))
        {
            <TableFooterCell colspan="@Footercolspan1" Text="@FooterText" />
        }
        @if (!string.IsNullOrEmpty(FooterText2))
        {
            <TableFooterCell colspan="@Footercolspan2" Text="@FooterText2" />
        }
        @if (!string.IsNullOrEmpty(FooterText3))
        {
            <TableFooterCell colspan="@Footercolspan3" Text="@FooterText3" />
        }
        @if (!string.IsNullOrEmpty(FooterTotal))
        {
            <TableFooterCell colspan="@FootercolspanTotal" Text="@FooterTotal" />
        }
        @if (!string.IsNullOrEmpty(FooterTotalColName))
        {
            var cols = TableMain.Columns.Where(a => a.Visible == true).Count() - 3;

            <TableFooterCell Text="当前页合计：" colspan="@cols" Align="@FooterAlign" />
            <TableFooterCell Aggregate="@FooterAggregate" colspan="3" Field="@FooterTotalColName" Align="@FooterAlign" />
        }
        @if (ShowFloatPanel)
        {
            var cols = TableMain.Columns.Where(a => a.Visible == true).Count();
            if (ShowExtendButtons && !IsReadonly)
            {
                cols += 1;
            }
            if (IsMultipleSelect || IsExcel)
            {
                cols += 1;
            }
            <td colspan="@cols">
                <div class="table-cell @(FooterAlign==Alignment.Right?"justify-content-end":"justify-content-start")">
                    <FloatPanel @ref="FloatPanel" Value="@cacheFooterValue" />
                </div>
            </td>
        }

    </TableFooter>


    <ExportButtonDropdownTemplate>
        <h6 class="dropdown-header">当前页数据</h6>
        <div class="dropdown-item" @onclick="_=>ExportExcelAsync(TableMain.Rows)">
            <i class="fas fa-file-excel"></i>
            <span>Excel</span>
        </div>
        @if (UseMiniWord && !string.IsNullOrEmpty(MiniWordTemplatePath))
        {
            <div class="dropdown-item" @onclick="_ => ExportWordAsync(TableMain.Rows)">
                <i class="fas fa-file-word"></i>
                <span>Word</span>
            </div>
        }
        @if (UseFullExportService)
        {
            <div class="dropdown-item" @onclick="_ => ExportWordAsync(TableMain.Rows)">
                <i class="fas fa-file-word"></i>
                <span>Word</span>
            </div>
            <div class="dropdown-item" @onclick="_=>ExportHtmlAsync(TableMain.Rows)">
                <i class="fa-brands fa-html5"></i>
                <span>Html</span>
            </div>
            <div class="dropdown-item" @onclick="_=>ExportPDFAsync(TableMain.Rows)">
                <i class="fas fa-file-pdf"></i>
                <span>PDF</span>
            </div>

        }
        <div class="dropdown-divider"></div>
        <h6 class="dropdown-header">全部数据</h6>
        <div class="dropdown-item" @onclick="_=>ExportExcelAsync(GetAllItems())">
            <i class="fas fa-file-excel"></i>
            <span>Excel</span>
        </div>
        @if (UseMiniWord && !string.IsNullOrEmpty(MiniWordTemplatePath))
        {
            <div class="dropdown-item" @onclick="_ => ExportWordAsync(GetAllItems())">
                <i class="fas fa-file-word"></i>
                <span>Word</span>
            </div>
        }
        @if (UseFullExportService)
        {
            <div class="dropdown-item" @onclick="_ => ExportWordAsync(GetAllItems())">
                <i class="fas fa-file-word"></i>
                <span>Word</span>
            </div>
            <div class="dropdown-item" @onclick="_ => ExportHtmlAsync(GetAllItems())">
                <i class="fa-brands fa-html5"></i>
                <span>Html</span>
            </div>
            <div class="dropdown-item" @onclick="_ => ExportPDFAsync(GetAllItems())">
                <i class="fas fa-file-pdf"></i>
                <span>PDF</span>
            </div>
        }
    </ExportButtonDropdownTemplate>

</Table> 